@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');

<<<<<<< HEAD
.icon-105 { font-size: 66px; }
.name {box-shadow: 10px 9px 0 0 #000;}
.bg-current	{background-color: beige(213, 211, 177);}

.widthchange {
  flex: 1 0 0;
=======
.icon-105 { font-size: 50px; }
.rounded-box { border-radius: 32px;}
.box-shadow { box-shadow: 10px 10px 0 0 #000; }
.font-heading { font-family: 'Fraunces';}

.dropdown {
  position: absolute;
  margin-top: 5px;
  left: 0;
  top: 100%;
  z-index: 1;
  width: 100%;
  border: 1px solid darken(white, 10%);
  background-color: white;
  box-shadow: 0 2px 5px darken(white, 10%);

  &.close {
    display: none;
  }
>>>>>>> 56430d932ffcfb35ccba8c71faf3393ad3d36123
}